
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>

    <!-- Custom styles for this template -->
    <link href="~/css/cover.css" rel="stylesheet" />

    <link href="~/Scripts/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/libs/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <!-- css -->

    <script type="text/javascript" src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/bootstrap/js/bootstrap-filestyle.min.js"></script>

</head>
<body>
    <div class="site-wrapper">
        @RenderBody() 
    </div>
</body>
</html>
