
@{
    ViewBag.Title = "V8Commit";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="site-wrapper-inner">

    <div class="cover-container">

        <!-- <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">Cover</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div> -->

        <div class="inner cover">
            <h1 class="cover-heading">V8Commit 3.0</h1>
            <p class="lead">Продукт для разборки файлов «1C:Предприятие 8» на текстовые файлы исходных кодов. Полученные файлы можно использовать в системах контроля версий, а так же для обратной сборки.</p>
            <p class="lead">
                <input type="file" accept=".epf,.erf,.cf,.cfu" class="filestyle" data-buttonName="btn-primary" data-placeholder="Выберите файл «1C:Предприятие 8»">
            </p>
        </div>

    </div>

</div>


